@{
    ViewBag.Title = "Index";
}
<h2>Received Messages</h2>

@using (Html.BeginForm())
{
    <select name="selectedOption">
        <option value="orange">Orange</option>
        <option value="green">Green</option>
        <option value="black">Black</option>
    </select>
    <br />
    <button type="submit">Filter</button>
}

<hr />

<h3>Messages</h3>
<ul>
    @foreach (var message in ViewBag.Messages)
    {
        <li>@message</li>
    }
</ul>
