@{
    ViewBag.Title = "Index";
}

<h2>Send Message</h2>

@using (Html.BeginForm())
{
    <label><input type="checkbox" name="selectedOption" value="orange"> Orange</label>
    <br>
    <label><input type="checkbox" name="selectedOption" value="green"> Green</label>
    <br>
    <label><input type="checkbox" name="selectedOption" value="black"> Black</label>
    <br>

    <br />
    <button type="submit">Filter</button>

}

<h3>Messages</h3>
<ul>
    @foreach (var message in ViewBag.Messages)
    {
        <li>@message</li>
    }
</ul>
